
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.staging
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

compose.override.yaml

###> Ignore Nginx log files ###
docker/nginx/*.log
###< Ignore Nginx log files ###

###> Ignore local documentation ###
/docs/local
###< Ignore local documentation ###
